= f.fields_for name do |dr|
  .control-group
    = dr.label :startDate, name.to_s.underscore.humanize, :class => "control-label"
    .controls
      = dr.text_field :startDate, :class => "input input-small"
      = dr.text_field :endDate,   :class => "input input-small"


