= api_form_for @send_invoice, :url => invoice_path(:send_invoice) do |f|

  .row
    .span5
      %legend Send invoice request
      = f.input :invoiceID

  .form-actions
    = f.submit "Submit", :class => "btn btn-primary", :data => { :disable_with => "Processing.." }

- if @send_invoice_response
  = render 'api_response', :request => @send_invoice, :response => @send_invoice_response
